<div>
    <mdb-carousel [isControls]="true" [animation]="'fade'"> 
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-carousel-item>
    </mdb-carousel>

    <div class="container my-5 z-depth-1">
        <!--Section: Content-->
        <section class="dark-grey-text">
          <div class="row pr-lg-5">
            <div class="col-md-7 mb-4">
              <div class="view">
                <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
              </div>
            </div>
            <div class="col-md-5 d-flex align-items-center">
              <div>
                <h1 class="font-weight-bold mb-4">Freelance Developers Directory</h1>
                  <p class="font-italic mb-9 text-comment">Your one stop center for getting the job done by hiring from a range of best freelance developers from all over the world</p>
                  <button mat-raised-button color="warn">Browse Now!</button>
              </div>
            </div>
            <br/>
          </div>
        </section>
      </div>
</div>