  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    font-weight: bold;
    background-color: rgb(238, 249, 255);
    border-color: currentColor;
  }
  
  .data-row-is-clicked {
    background-color: rgb(238, 249, 255);
    font-weight: bold;
  }