<div class="section">
    <div class="page-title">User</div>
    <div class="title-line"></div>

    <!--User List-->
    <div class="data-table">
        <table mat-table [dataSource]="userList" class="mat-elevation-z8">
          <ng-container [matColumnDef]="col.column" *ngFor="let col of headers">
            <th mat-header-cell *matHeaderCellDef> {{col.name}} </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element[col.column]; else defaultValue">
                {{element[col.column]}}
              </ng-container>
              <ng-template #defaultValue>
                -
              </ng-template>
            </td>           
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row (click)="onSelectUser(row)" [class.data-row-is-clicked]="(row._id == selectedUser._id)"
            *matRowDef="let row; columns: columnsToDisplay;">
          </tr>
    
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
              No records found.
            </td>
          </tr>
        </table>
    </div>
    <div class="new-line">
      <div class="full-width">
        <div class="pull-right">
          <button type="button" *ngIf="!isEditMode" mat-raised-button color="primary" (click)="onCreateUser()">CREATE</button>
        </div>
      </div>
    </div>
    

    <div class="view-form" *ngIf="(selectedUser | json) != ({} | json)">
      <form [formGroup]="userForm">
        <label>Selected User Details</label>
        <div class="form-box">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline" style="display: unset;" [class.disabled]="!isEditMode">
                  <mat-label>Username</mat-label>
                  <mat-icon matSuffix>person_outline</mat-icon>
                  <input matInput [(ngModel)]="selectedUser.username" formControlName="username" required>
                  <mat-error *ngIf="userForm.controls.username.invalid">Username is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" style="display: unset;" [class.disabled]="!isEditMode">
                  <mat-label>Email Address</mat-label>
                  <mat-icon matSuffix>mail_outline</mat-icon>
                  <input matInput [(ngModel)]="selectedUser.email" formControlName="email" required type="email">
                  <mat-error *ngIf="userForm.controls.email.invalid">Email is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline" style="display: unset;" [class.disabled]="!isEditMode">
                  <mat-label>Phone Number</mat-label>
                  <mat-icon matSuffix>contact_phone</mat-icon>
                  <input matInput [(ngModel)]="selectedUser.phoneNumber" formControlName="phoneNumber" required type="number">
                  <mat-error *ngIf="userForm.controls.phoneNumber.invalid">Phone number is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" style="display: unset;" [class.disabled]="!isEditMode">
                  <mat-label>Hobby</mat-label>
                  <mat-icon matSuffix>rowing</mat-icon>
                  <input matInput [(ngModel)]="selectedUser.hobby" formControlName="hobby" required type="text">
                  <mat-error *ngIf="userForm.controls.hobby.invalid">Hobby is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline" style="display: unset;" [class.disabled]="!isEditMode" *ngIf="!isEditMode">
                  <mat-label>Skills</mat-label>
                  <mat-icon matSuffix>grade</mat-icon>
                  <input matInput [(ngModel)]="selectedUser.skillsets" formControlName="skillsets" required type="text">
                </mat-form-field>

                <div *ngIf="isEditMode">
                  <table>
                    <thead>
                      <th *ngIf="userForm.controls['skills'].value.length > 0">Skills</th>
                      <th *ngIf="userForm.controls['skills'].value.length > 0">Action</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let skill of userForm.controls['skills'].value; index as i;">
                        <td>
                          <mat-form-field appearance="outline" style="display: unset;">
                            <mat-icon matSuffix>grade</mat-icon>
                            <input matInput [formControl]="userForm.controls['skills'].value[i]" required type="text">
                            <mat-error *ngIf="userForm.controls['skills'].value[i].invalid">Skill is required</mat-error>
                          </mat-form-field>
                        </td>
                        <td class="center">
                          <button type="button" mat-icon-button color="warn" (click)="removeUserSkill(i)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pull-left">
                    <button type="button" *ngIf="isEditMode" mat-raised-button color="primary" (click)="addNewUserSkill()">ADD SKILL</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pull-right">
            <button type="button" *ngIf="!isEditMode" mat-raised-button color="warn" (click)="onDeleteUser()">DELETE</button>
            <button type="button" *ngIf="!isEditMode" mat-raised-button color="primary" (click)="onEditUser()">EDIT</button>
            <button type="submit" *ngIf="isEditMode" mat-raised-button color="primary" (click)="onUpdateUser()">SAVE</button>
            <button type="button" *ngIf="isEditMode" mat-raised-button color="primary" (click)="onCancelEdit()">CANCEL</button>
        </div>
      </form>
    </div>
    
</div>